body  {
  background-image: linear-gradient(to right, #53b7bb, #92cde9);
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.topheading{
  display: flex;
  justify-content: center;  
  font-size: 35px;
  font-weight: bold;
}

.move-button-container{
  display: flex;
  justify-content: center;
  column-gap: 35px;
  margin-bottom: 55px;
}

.move-button{
  height: 145px;
  width: 145px;
  border-radius: 235px;
  border-style: solid;
  border-width: 0px;
  padding: 0;
  cursor: pointer;
}

.move-icon{
  height: 145px;
  width: 145px;
}

.move-icon2{
  height: 145px;
  width: 145px;
  transform: scaleX(-1);
}

.result{
  display: flex;
  justify-content: center;
}

.moves{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.score{
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-button{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: black;
  background-color:transparent;
  padding: 15px 50px;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
}

.reset-button:hover{
  background-color: black;
  color: #53b7bb;
  transition: 0.15s;
}

.reset-button:active{
  opacity: 0.6;
}